In [48]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
import os
from datetime import datetime
rootDir = os.getcwd()

In [49]:
rootDir

'C:\\Self_Work\\oneGo\\onego_poc1\\main\\web_scraping'

In [50]:

#launch url
url = "https://paytm.com/flights/flightSearch/BLR-Bengaluru/BOM-Mumbai/1/0/0/E/2019-05-30"

# create a new Chrome session
driver = webdriver.Chrome('C:/Self_Work/oneGo/onego_poc1/files/chromedriver')          
driver.implicitly_wait(30)
driver.get(url)

div_elem = driver.find_elements_by_css_selector('._3215.row')

In [52]:
RecordDate = str(datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
DepDate = "2019-04-30"
ArrDate ="NA"
rows=[]
for elem in div_elem:
    row = elem.text.split("\n")
    row=row[:-3]
    row.insert(0,RecordDate)
    row.insert(3,DepDate)
    row.insert(8,ArrDate)
    rows.append(row)
    
data = pd.DataFrame(rows,columns=['RecordDate','Airline','Flight','Dept_Date','Dept_Time','Origin','Duration','Stops','Arr_Date','Arr_Time','Destination','Total_Fare'])
data.head()

,RecordDate,Airline,Flight,Dept_Date,Dept_Time,Origin,Duration,Stops,Arr_Date,Arr_Time,Destination,Total_Fare
0,2019-05-11 22:48:24,IndiGo,6E - 456,2019-04-30,05:05,BLR,1h 45m,Non Stop,NA,06:50,BOM,"3,346"
1,2019-05-11 22:48:24,GoAir,G8 - 526,2019-04-30,22:15,BLR,1h 50m,Non Stop,NA,00:05,BOM,"3,652"
2,2019-05-11 22:48:24,GoAir,G8 - 418,2019-04-30,05:45,BLR,1h 35m,Non Stop,NA,07:20,BOM,"3,652"
3,2019-05-11 22:48:24,Air Asia,I5 - 303,2019-04-30,05:30,BLR,1h 45m,Non Stop,NA,07:15,BOM,"3,732"
4,2019-05-11 22:48:24,IndiGo,6E - 5322,2019-04-30,05:30,BLR,1h 45m,Non Stop,NA,07:15,BOM,"3,734"

In [53]:
files_dir = 'C:\\Self_Work\\oneGo\\onego_poc1\\files'
filename = 'paytm_flights.csv'
data.to_csv(files_dir+'\\'+ filename, mode='a', index=False)